# dependencies
node_modules/
.pnpm-store/

# next
.next/
out/

# env
.env
.env.local
.env.*.local

# prisma
packages/db/generated/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# os
.DS_Store
Thumbs.db
